.rest_request_calendar {
    margin-top: 40px;
    font-size: x-small;
}

#temporary_console {
    height: 10px;
    position: relative;
}

.btn_field {
    font-size: xx-small;
}

.data_btn {
    font-size: 0.5em;
}
