.employee_calendar_table{
    margin-top: 40px;
    font-size: x-small;
    height: 70vh;
    max-width: 60vh;
}

.minimal_number_input {
    max-width: 5em;
}

.max_number_input {
    max-width: 5em;
}

.shift_export_btn {
    max-width: 10px;
    position: relative;
}

