@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #f5f5f5;
    
}

div#shift_creator {
    padding: 5px;
}

